---
- name: Install required packages
  apt:
    name:
      - apache2
      - git
      - ufw
    state: present
    update_cache: yes

- name: Start and enable Apache
  service:
    name: apache2
    state: started
    enabled: yes
